<h1>Email Form</h1>
<form action="/email/email_send" method="post">
	Email: <input type="text" name="email"><br>
	Title: <input type="text" name="title"><br>
	Content: <textarea name="content" id="#" cols="40" rows="5"></textarea><br>
	<input type="submit" value="send">
</form>